@model Self.Plugin.Payments.PayBright.Models.PaymentInfoModel
@using Self.Plugin.Payments.PayBright;
@{
    Layout = "";
}
@inject Nop.Core.IWorkContext workContext
@inject PaymentPayBrightSettings paymentPayBrightSettings
@inject Nop.Core.Domain.Orders.OrderSettings orderSettings

<script type="text/javascript">
 
</script>
 

<table width="100%" cellspacing="2" cellpadding="1" border="0" id="moneris-card-details">
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <img src="@Url.Content("~/Plugins/Payments.PayBright/cards.jpg")" alt="" />
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <p>
                PayBright payment UI
            </p>
        </td>
    </tr>
</table>
